<footer class="bg-dark text-white py-4">
    <div class="container">
      <div class="row">
        <!-- Section: About -->
        <div class="col-md-4 mb-4">
          <h5 class="text-uppercase">About TechNest</h5>
          <p>At TechNest, we bring you the latest in technology, from gadgets to smart home devices.</p>
        </div>
  
        <!-- Section: Links -->
        <div class="col-md-4 mb-4">
          <h5 class="text-uppercase">Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Home</a></li>
            <li><a href="#" class="text-white">Shop</a></li>
            <li><a href="#" class="text-white">Contact Us</a></li>
          </ul>
        </div>
  
        <!-- Section: Social media -->
        <div class="col-md-4 mb-4 text-center">
          <h5 class="text-uppercase">Follow Us</h5>
          <div class="d-flex justify-content-center">
            <a href="#" class="text-white mx-2"><i class="fab fa-facebook fa-lg"></i></a>
            <a href="#" class="text-white mx-2"><i class="fab fa-twitter fa-lg"></i></a>
            <a href="#" class="text-white mx-2"><i class="fab fa-instagram fa-lg"></i></a>
            <a href="#" class="text-white mx-2"><i class="fab fa-linkedin fa-lg"></i></a>
          </div>
        </div>
      </div>
  
      <hr class="my-4" style="border-color: rgba(255,255,255,0.1);" />
  
      <!-- Copyright -->
      <div class="text-center">
        <p class="mb-0">&copy; 2024 TechNest. All Rights Reserved.</p>
      </div>
    </div>
  </footer>
  