<div class="container-fluid mt-5"> 
  <div class="row justify-content-center">
    <div class="col-lg-8"> <!-- عرض العامود-->
      <div class="card shadow-lg border-0 rounded">
        
        <!-- Header -->
        <div class="card-header text-center bg-dark text-white py-4">
          <h1 >PAYMENT INFORMATION </h1>
        </div>

        <!-- Form Body -->
        <div class="card-body p-5">
          <form (ngSubmit)="submitPayment()" #paymentForm="ngForm">
            <!-- Full Name -->
            <div class="mb-5">
              <h4><label for="fullName" class="form-label">Full Name</label></h4>
              <input type="text" id="fullName" class="form-control form-control-lg" [(ngModel)]="userDetails.fullName" name="fullName"
                placeholder="Enter your full name" required>
            </div>

            <!-- Email Address -->
            <div class="mb-5">
              <H4><label for="email" class="form-label">Email Address</label>
              </H4>
              <input type="email" id="email" class="form-control form-control-lg" [(ngModel)]="userDetails.email" name="email"
                placeholder="Enter your email" required>
            </div>

            <!-- Address -->
            <div class="mb-5">
              <H4><label for="address" class="form-label">Address</label></H4>
              <input type="text" id="address" class="form-control form-control-lg" [(ngModel)]="userDetails.address" name="address"
                placeholder="Enter your address" required>
            </div>

            <!-- Phone Number -->
            <div class="mb-5">
              <H4><label for="phone" class="form-label">Phone</label></H4>
              <input type="text" id="phone" class="form-control form-control-lg" [(ngModel)]="userDetails.phone" name="phone"
                placeholder="Enter your phone number" required>
            </div>

            <!-- Submit Button -->
            <div class="mt-4 text-center">
              <button type="submit" class="btn btn-success py-3" style="width: 60%;"><strong><H5>Send Information</H5></strong></button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
